<div id="<%= dom_id content %>">
  <div class="d-flex text-body-secondary pt-3">
    <p class="pb-1 mb-0 small lh-md">
      <em class="fw-bold text-info"><%= content.user.name %></em><span class="px-1">:</span> <%= content.body %>
    </p>
  </div>
</div>
